<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sinergia · Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
</head>
<body>
<div class="row" th:fragment="header">
    <nav class="navbar col-md-12 navbar-light bg-light justify-content-between">
        <div class="col-md-2 col-sm-12 col-xs-12">
            <a class="navbar-brand" href="/home">
                <u>Tasking</u>
            </a>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <input class="form-control col-md-9 col-sm-8 col-xs-8 mr-2" type="search" placeholder="Pesquise aqui tarefas" aria-label="Search">
                <button class="btn btn-outline-success col-md-2 col-sm-2 col-xs-4" type="submit">Pesquisar</button>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <a class="navbar-brand float-right" href="/login?logout">
                Deslogar
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </nav>
</div>
</body>
</html>